* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #202938;

}

.heading1 {
    display: block;
    width: 443px;
    height: 30px;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-left: 280px;
    margin-top: 140px;
    font-size: 40px;

}

.heading2 {
    display: block;
    width: 443px;
    height: 30px;
    color: #4fdc86;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-left: 280px;
    margin-top: 12px;
    font-size: 40px;
}

.subheading {
    display: block;
    width: 443px;
    height: 30px;
    color: white;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 280px;
    margin-top: 20px;
    font-size: 18px;
}

button {
    display: block;
    background-color: #4fdc86;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 196px;
    height: 43px;
    border-radius: 5px;
    margin-left: 280px;

}

button:hover {
    background-color: white;
    color: #4fdc86;
}

#line {
    display: block;
    width: 1067px;
    margin-left: 120px;
    margin-top: 20px;
    background-color: #343d4e;
    border-radius: 12px;
    height: 1px;
}


.button-container {
    display: flex;
    gap: 70px;
    /* space between buttons */
    margin-left: 270px;
    /* match your existing alignment */
}

.button-container p {
    display: block;
    background-color: #263548;
    color: white;
    font-family: "Lora", serif;
    font-weight: 300;
    width: 200px;
    height: 43px;
    border-radius: 5px;
    margin-top: 23px;
    text-align: center;
    padding-top: 10px;
}